.request {
  padding-top: 120px;
  padding-bottom: 80px;
}
.request__navigation {
  display: flex;
}
.request__link a {
  font-size: 18px;
  text-decoration: none;
  color: #1A1B22;
}
.request__analytic {
  font-size: 18px;
  color: #B6BCBF;
  margin-left: 5px;
}
.request h2 {
  font-weight: normal;
  font-size: 40px;
  margin-top: 80px;
}
.request__news {
  font-size: 18px;
  margin: 0;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .request h2 {
    font-size: 32px;
    margin-top: 64px;
  }
  .request {
    padding-top: 112px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 649px) {
  .request h2 {
    font-size: 30px;
    margin-top: 0;
  }
  .request__link a {
    font-size: 0;
  }
  .request__analytic {
    font-size: 0;
  }
  .request__navigation {
    height: 0;
  }
  .request {
    padding-top: 90px;
    padding-bottom: 24px;
  }
}