.statistics {
  padding-top:    80px;
  padding-bottom: 80px;
}
.statistics__title {
  font-weight: normal;
  font-size:   26px;
  margin:      0;
}
.statistics__header {
  display:       flex;
  font-size:     18px;
  color:         #B6BCBF;
  border-bottom: 1px solid #1A1B22;
  margin-top:    48px;
  padding-bottom: 15px;
}
.statistics__percent {
  display:    flex;
  text-align: right;
}
.statistics__percent .rest-column {
  display: flex;
}
.statistics__percent .rest-column div {
  width:       25%;
  font-size:   12px;
  color:       #B6BCBF;
  line-height: 26px;
}
.statistics__percent .first-column div span {
  margin-right: -6px;
  font-size:    12px;
  color:        #B6BCBF;
}
.charts {
  margin-top: 22px;
}
.charts__day {
  display:       flex;
  margin-bottom: 50px;
}
.charts__day:last-child {
  margin-bottom: 5px;
}
.charts__line {
  height:      25px;
  line-height: 25px;
  background:  #2F71E5;;
  color:       #FFFFFF;;
  padding:     0 10px;
  font-size:   12px;
}

.first-column {
  width:     120px;
  font-size: 18px;
}
.rest-column {
  flex-grow: 1;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .statistics {
    padding-top:    40px;
    padding-bottom: 40px;
  }

  .statistics__header {
    margin-top: 40px;
  }
}

@media screen and (max-width: 649px) {
  .statistics__title {
    font-size: 22px;
  }

  .statistics {
    padding-top:    24px;
    padding-bottom: 38px;
  }

  .statistics__percent {
    height: 0;
  }

  .statistics__percent .rest-column div {
    font-size: 0;
  }

  .statistics__percent .first-column div span {
    font-size: 0;
  }
}