<div class="technologies container bg-smoke">
  <div class="technologies__header">
    <h2 class="technologies__title roboto-slab">Используемые технологии</h2>
  </div>
  <div class="technologies__elements">
    <div class="technologies__element">
      <p class="technologies__element_text">HTML</p>
      <img src="/images/html.png" alt="HTML">
    </div>
    <div class="technologies__element">
      <p class="technologies__element_text">CSS</p>
      <img src="/images/css.png" alt="CSS">
    </div>
    <div class="technologies__element">
      <p class="technologies__element_text">Java Script</p>
      <img src="/images/js.png" alt="Java Script">
    </div>
    <div class="technologies__element">
      <p class="technologies__element_text">Webpack</p>
      <img src="/images/webpack.png" alt="Webpack">
    </div>
  </div>
</div>