.loader {
  padding-top:      80px;
  padding-bottom:   80px;
}
.loader__inner {
  margin:     0 auto;
  max-width:  200px;
  text-align: center;
}
.loader__text {
  margin:    0;
  font-size: 18px;
  color:     #B6BCBF;
}