@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Source+Sans+Pro&display=swap);
html, body {
  height:      100%;
  margin:      0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100%;
}

.container {
  padding-left:  100px;
  padding-right: 100px;
}

.arrow-right {
  display:     inline-block;
  margin-left: 8px;
}

.bg-smoke {
  background: #F5F6F7;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  display:         flex;
  justify-content: space-between;
  line-height:     46px;
}
.title h2 {
  margin:      0;
  font-weight: normal;
  font-size:   40px;
}
.title a {
  margin:          0;
  font-size:       18px;
  text-decoration: none;
  color:           #1A1B22;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .container {
    padding-left:  40px;
    padding-right: 40px;
  }

  .title h2 {
    font-size: 30px;
    max-width: 338px;
  }
}

@media screen and (max-width: 649px) {
  .container {
    padding-left:  16px;
    padding-right: 16px;
  }

  .title h2 {
    font-size: 30px;
    max-width: 200px;
  }

  .title {
    display: block;
  }

  .wrapper {
    min-height: 0;
  }
}
.page {
  margin-top: -80px;
  display:    none;
}
.page.active {
  display: block;
}

.header {
  display:         flex;
  justify-content: space-between;
  line-height:     80px;
  position:        relative;
}
.header:after {
  content:    '';
  position:   absolute;
  bottom:     0;
  left:       0;
  height:     1px;
  width:      100%;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
.header h1 {
  margin:    0;
  font-size: 20px;
}
.header__menu_page {
  margin-left:     34px;
  font-size:       18px;
  color:           #B6BCBF;
  text-decoration: none;
  line-height:     80px;
  display:         inline-block;
}
.header__menu_page.active {
  color:         white;
  border-bottom: 3px solid white;
}
[page="index"] .header {
  color: white;
}
[page="about"] .heade, [page="analytic"] .header {
  color: black;
}
[page="about"] .header:after, [page="analytic"] .header:after {
  background: #B6BCBF;
}
[page="about"] .header__menu_page.active, [page="analytic"] .header__menu_page.active {
  color:         black;
  border-bottom: 3px solid black;
}

@media screen and (max-width: 649px) {
  .header__menu_page {
    font-size: 16px;
  }

  .header h1 {
    font-size: 16px;
  }
  .header__menu_page {
    margin-left:     10px;
  }
}
.footer, .pusher {
  height:          -80px;
  display:         flex;
  justify-content: space-between;
  line-height:     80px;
}
.footer ul {
  list-style:      none;
  display:         flex;
  justify-content: space-between;
  margin:          0;
}
.footer ul li {
  float: left;
}
.footer__author p {
  font-size: 16px;
  color:     #B6BCBF;
  margin:    0;
}
.footer__navigation {
  font-size:  17px;
  text-align: center;
  width:      425px;
}
.footer__navigation a {
  text-decoration: none;
  color:           #1A1B22;
}
.footer__links a {
  margin-left: 30px;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer ul {
    padding-left: 0;
  }

  .footer__navigation {
    width: 360px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    position:       relative;
    padding: 8px 15px 60px;
  }

  .footer, .footer__navigation, .footer__navigation ul {
    display: block;
  }

  .footer__navigation {
    width:      auto;
    text-align: left;
  }

  .footer__navigation ul {
    padding-left: 0;
  }

  .footer__navigation ul li {
    float:       none;
    height:      48px;
    line-height: 48px;
  }

  .footer__author {
    position: absolute;
    left: 15px;
    bottom: 0;
    line-height: 60px;
  }

  .footer__links {
    display:     inline-block;
    position:    absolute;
    top:         16px;
    right:       16px;
    line-height: 48px;
  }

  .footer__links a {
    margin-left: 25px;
  }
}
.author {
  display:       flex;
  margin-top:    80px;
  margin-bottom: 80px;
}
.author__avatar {
  width: 40%;
}
.author__avatar_foto {
  max-height:    100%;
  max-width:     100%;
  border-radius: 50%;
}
.author__info {
  width:  60%;
  margin: 51px 56px;

}
.author__info h3 {
  font-weight: normal;
  font-size:   40px;
  margin:      0;
}
.author__info p {
  margin-top: 24px;
  font-size:  18px;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .author__info h3 {
    font-size: 30px;
  }

  .author__info {
    margin: 5px 5px;
  }

  .author__avatar {
    width: 35%;
  }

  .author {
    margin-top:    42px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 649px) {
  .author {
    display:       block;
    margin-top:    20px;
    margin-bottom: 44px;
  }

  .author__avatar {
    width: 100%;
  }

  .author__info {
    width:  100%;
    margin: 0;
  }

  .author__info p {
    margin: 0;
  }

  .author__info h3 {
    margin: 20px 0;
  }
}
.search {
  background-image:    url(./images/background.png);
  background-repeat:   no-repeat;
  padding:             140px 0 80px;
  background-size:     cover;
  background-position: center top;
}
.search__inner {
  margin:    0 auto;
  max-width: 577px;
}
.search__title {
  font-size:   60px;
  margin:      0;
  font-weight: normal;
  color:       #FFFFFF;
}
.search__text {
  font-size:     18px;
  margin-top:    32px;
  margin-bottom: 64px;
  color:         #FFFFFF;
}
.search__panel {
  position:   relative;
  box-sizing: border-box;
}
.search__panel_input {
  width:           100%;
  border:          1px solid #D1D2D6;
  backdrop-filter: blur(8px);
  border-radius:   100px;
  height:          64px;
  font-size:       16px;
  padding-left:    24px;
  outline:         none;
  box-sizing:      border-box;
}
.search__panel_button {
  background:    #2F71E5;
  box-shadow:    0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  position:      absolute;
  top:           0;
  right:         0;
  height:        64px;
  width:         168px;
  font-size:     18px;
  text-align:    center;
  color:         #FFFFFF;
  border:        0 solid #D1D2D6;
  outline:       none;
  box-sizing:    border-box;
  cursor:        pointer;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .search__title {
    font-size: 36px;
    max-width: 230px;
  }
}

@media screen and (max-width: 649px) {
  .search__panel {
    padding: 0 15px;
  }

  .search__title {
    font-size:    36px;
    max-width:    230px;
    margin-left:  16px;
    margin-right: 16px;
  }

  .search__text {
    font-size:    20px;
    margin-left:  16px;
    margin-right: 16px;
  }

  .search__panel_button {
    position:   relative;
    width:      100%;
    margin-top: 16px;
  }

  .search__inner {
    max-width: 100%;
  }
}








.loader {
  padding-top:      80px;
  padding-bottom:   80px;
}
.loader__inner {
  margin:     0 auto;
  max-width:  200px;
  text-align: center;
}
.loader__text {
  margin:    0;
  font-size: 18px;
  color:     #B6BCBF;
}
.not-found {
  padding-top:      80px;
  padding-bottom:   80px;
}
.not-found__inner {
  margin:     0 auto;
  max-width:  270px;
  text-align: center;
}
.not-found__inner h3 {
  font-size:   26px;
  font-weight: normal;
  margin:      0;
}
.not-found__text {
  font-size: 18px;
  color:     #B6BCBF;
}
.result {
  padding-top:    80px;
  padding-bottom: 80px;
}
.result__container {
  margin:                64px auto;
  display:               grid;
  grid-template-rows:    1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:              16px;
}
.result__containe_inner {
  background-color: #FFFFFF;
  border-radius:    30px;
  overflow:         hidden;
}
.result__containe_inner img {
  width: 100%;
}
.result__containe_info {
  margin: 24px;
}
.result__container_title {
  font-weight: normal;
  font-size:   26px;
}
.result__containe_data {
  font-size: 18px;
  color:     #B6BCBF;
  margin:    0;
}
.result__container_text {
  font-size: 16px;
  margin:    0;
}
.result__container_source {
  font-weight: bold;
  font-size:   16px;
  color:       #B6BCBF;
}
.result__button {
  margin: 0 auto;
  width:  288px;
  height: 64px;
}
.result__button_inner {
  width:            100%;
  height:           100%;
  background-color: #FFFFFF;
  border-radius:    80px;
  border:           0;
  font-size:        18px;
  outline:          none;
  cursor:           pointer;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .result__container_title {
    font-size: 22px;
  }

  .result__container {
    max-height: 430px;
  }
}

@media screen and (max-width: 649px) {
  .result__container {
    grid-template-rows:    1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap:              16px;
    margin-top:            40px;
    margin-bottom:         12px;
  }

  .result {
    padding-top:    32px;
    padding-bottom: 32px;
  }

  .result__button {
    width: 100%;
  }
}

.customer {
  padding-top:    160px;
  padding-bottom: 80px;
  max-width:      815px;
  font-weight:    normal;
  font-size:      18px;
}
.customer__title {
  font-weight: normal;
  font-size:   40px;
  margin:      0;
}
.customer p {
  font-size: 18px;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .customer__title {
    font-size:   30px;
  }
  .customer {
    padding-top:    104px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 649px) {
  .customer {
    padding-top:    96px;
    padding-bottom: 32px;
  }
}
.github {
  padding-top:    80px;
  padding-bottom: 80Px;
  position:       relative;
  overflow:       hidden;
}
.github__title {
  display:         flex;
  justify-content: space-between;
  line-height:     46px;
}
.github__title h2 {
  margin:      0;
  font-weight: normal;
  font-size:   40px;
}
.github__link {
  margin:          0;
  font-size:       18px;
  text-decoration: none;
  color:           #1A1B22;
  white-space: nowrap;
}
.github__outer {
  height:   288px;
  margin:   64px 0 48px;
  position: relative;
}
.github__outer:after, .github__outer:before {
  content:                   '';
  position:                  absolute;
  z-index:                   100;
  width:                     120px;
  height:                    288px;
  right:                     0;
  top:                       0;
  -webkit-box-sizing:        content-box;
  -moz-box-sizing:           content-box;
  box-sizing:                content-box;
  border:                    none;
  background:                -webkit-linear-gradient(0deg, rgba(178, 44, 44, 0) 0, rgba(255, 255, 255, 1) 100%);
  background:                -moz-linear-gradient(90deg, rgba(178, 44, 44, 0) 0, rgba(255, 255, 255, 1) 100%);
  background:                linear-gradient(90deg, rgba(178, 44, 44, 0) 0, rgba(255, 255, 255, 1) 100%);
  background-position:       50% 50%;
  -webkit-background-origin: padding-box;
  background-origin:         padding-box;
  -webkit-background-clip:   border-box;
  background-clip:           border-box;
  -webkit-background-size:   auto auto;
  background-size:           auto auto;
}
.github__outer:before {
  right:            auto;
  left:             0;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 1%, rgba(178, 44, 44, 0) 84%, rgba(178, 44, 44, 0) 100%, rgba(178, 44, 44, 0) 100%);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 1%, rgba(178, 44, 44, 0) 84%, rgba(178, 44, 44, 0) 100%, rgba(178, 44, 44, 0) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 1%, rgba(178, 44, 44, 0) 84%, rgba(178, 44, 44, 0) 100%, rgba(178, 44, 44, 0) 100%);
}
.githab__inner {
  display: flex;
  width:   max-content;
}
.githab__card {
  width:            400px;
  height:           288px;
  background-color: #FFFFFF;
  border-radius:    16px;
  margin-right:     16px;
  cursor: pointer;
}
.githab__card_block {
  padding: 24px;
}
.githab__card_data {
  font-size:  14px;
  color:      #B6BCBF;
  margin-top: 0;
}
.github__card_inner {
  display: flex;
}
.github__card_inner-info {
  margin-left: 16px;
}
.github__card_inner-name {
  font-weight: normal;
  font-size:   26px;
  margin:      0;
}
.github__card_inne-mail {
  font-size: 14px;
  margin:    0;
}
.github__card_inner-avatar {
  width:         64px;
  height:        64px;
  border-radius: 50%;
  overflow:      hidden;
}
.githab__card_commit {
  font-size:     16px;
  margin-bottom: 0;
}
.github__slider-dots {
  text-align: center;
}
.github__slider-dots_item {
  cursor:           pointer;
  height:           8px;
  width:            8px;
  margin:           0 2px;
  background-color: #D1D2D6;
  border-radius:    50%;
  display:          inline-block;
  transition:       background-color 0.6s ease;
}
.github__slider-dots_item.active,
.github__slider-dots_item:hover {
  background-color: #1A1B22;
}
.github__arrow {
  width:    60px;
  height:   60px;
  position: absolute;
  z-index:  200;
}
.github__arrow.left {
  top:        48%;
  left:       18px;
  cursor:     pointer;
  transition: 0.6s ease;
}
.github__arrow.right {
  right:  18px;
  top:    48%;
  cursor: pointer;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .github__title h2 {
    font-size: 30px;
    max-width: 338px;
  }

  .github__card_inner-name {
    font-size: 20px;
  }

  .github__outer:before {
    z-index: -100;
  }

  .github__outer:after {
    z-index: -100;
  }

  .github__arrow {
    z-index: -200;
  }

  .github {
    padding-top:    40px;
    padding-bottom: 40px;
  }

  .github__outer {
    margin: 32px 0 32px;
  }
}

@media screen and (max-width: 649px) {
  .github__title h2 {
    font-size: 30px;
    max-width: 200px;
  }

  .github__title {
    display: block;
  }

  .github__link {
    position: absolute;
    bottom: 45px;
    left: 16px;
    right: 16px;
    height: 56px;
    line-height: 56px;
    border: 1px solid #1A1B22;
    border-radius: 80px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
  }

  .github__link img {
    display: none;
  }

  .github__arrow {
    z-index: -200;
  }

  .github {
    padding-top:    32px;
    padding-bottom: 120Px;
  }

  .github__outer:before {
    z-index: -100;
  }

  .github__outer:after {
    z-index: -100;
  }

  .githab__card_block {
    padding-left:  5px;
    padding-right: 5px;
  }

  .githab__card {
    width: 302px;
  }

  .github__card_inner-name {
    font-size: 20px;
  }

  .github__outer {
    margin: 16px 0;
  }
}

.technologies {
  padding-bottom: 80px;
  padding-top:    80px;
  display:        flex;
}
.technologies__title {
  width: 40%;
}
.technologies__title h2 {
  font-weight: normal;
  font-size:   40px;
}
.technologies__elements {
  display:         flex;
  width:           60%;
  margin:          56px;
  justify-content: space-between;
}
.technologies__element {
  font-size:  18px;
  text-align: center;
}
.technologies__element p {
  margin: 0;

}

@media screen and (max-width: 970px) {
  .technologies__title h2 {
    font-size:  30px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .technologies {
    padding-bottom: 40px;
    padding-top:    40px;
    display:        block;
  }

  .technologies__elements {
    margin: 0;
  }

  .technologies__title h2 {
    margin-top:    0;
    margin-bottom: 40px;
  }

  .technologies__elements {
    width: 100%;
  }
}

@media screen and (max-width: 649px) {
  .technologies {
    padding-bottom: 0;
    padding-top:    32px;
    display:        block;
  }

  .technologies__title h2 {
    width: 280px;
  }

  .technologies__title {
    width: 100%;
  }

  .technologies__elements {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .technologies__element {
    width: 50%;
    margin-bottom: 32px;
  }
}

.request {
  padding-top: 120px;
  padding-bottom: 80px;
}
.request__navigation {
  display: flex;
}
.request__link a {
  font-size: 18px;
  text-decoration: none;
  color: #1A1B22;
}
.request__analytic {
  font-size: 18px;
  color: #B6BCBF;
  margin-left: 5px;
}
.request h2 {
  font-weight: normal;
  font-size: 40px;
  margin-top: 80px;
}
.request__news {
  font-size: 18px;
  margin: 0;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .request h2 {
    font-size: 32px;
    margin-top: 64px;
  }
  .request {
    padding-top: 112px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 649px) {
  .request h2 {
    font-size: 30px;
    margin-top: 0;
  }
  .request__link a {
    font-size: 0;
  }
  .request__analytic {
    font-size: 0;
  }
  .request__navigation {
    height: 0;
  }
  .request {
    padding-top: 90px;
    padding-bottom: 24px;
  }
}
.statistics {
  padding-top:    80px;
  padding-bottom: 80px;
}
.statistics__title {
  font-weight: normal;
  font-size:   26px;
  margin:      0;
}
.statistics__header {
  display:       flex;
  font-size:     18px;
  color:         #B6BCBF;
  border-bottom: 1px solid #1A1B22;
  margin-top:    48px;
  padding-bottom: 15px;
}
.statistics__percent {
  display:    flex;
  text-align: right;
}
.statistics__percent .rest-column {
  display: flex;
}
.statistics__percent .rest-column div {
  width:       25%;
  font-size:   12px;
  color:       #B6BCBF;
  line-height: 26px;
}
.statistics__percent .first-column div span {
  margin-right: -6px;
  font-size:    12px;
  color:        #B6BCBF;
}
.charts {
  margin-top: 22px;
}
.charts__day {
  display:       flex;
  margin-bottom: 50px;
}
.charts__day:last-child {
  margin-bottom: 5px;
}
.charts__line {
  height:      25px;
  line-height: 25px;
  background:  #2F71E5;;
  color:       #FFFFFF;;
  padding:     0 10px;
  font-size:   12px;
}

.first-column {
  width:     120px;
  font-size: 18px;
}
.rest-column {
  flex-grow: 1;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .statistics {
    padding-top:    40px;
    padding-bottom: 40px;
  }

  .statistics__header {
    margin-top: 40px;
  }
}

@media screen and (max-width: 649px) {
  .statistics__title {
    font-size: 22px;
  }

  .statistics {
    padding-top:    24px;
    padding-bottom: 38px;
  }

  .statistics__percent {
    height: 0;
  }

  .statistics__percent .rest-column div {
    font-size: 0;
  }

  .statistics__percent .first-column div span {
    font-size: 0;
  }
}



