.technologies {
  padding-bottom: 80px;
  padding-top:    80px;
  display:        flex;
}
.technologies__title {
  width: 40%;
}
.technologies__title h2 {
  font-weight: normal;
  font-size:   40px;
}
.technologies__elements {
  display:         flex;
  width:           60%;
  margin:          56px;
  justify-content: space-between;
}
.technologies__element {
  font-size:  18px;
  text-align: center;
}
.technologies__element p {
  margin: 0;

}

@media screen and (max-width: 970px) {
  .technologies__title h2 {
    font-size:  30px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .technologies {
    padding-bottom: 40px;
    padding-top:    40px;
    display:        block;
  }

  .technologies__elements {
    margin: 0;
  }

  .technologies__title h2 {
    margin-top:    0;
    margin-bottom: 40px;
  }

  .technologies__elements {
    width: 100%;
  }
}

@media screen and (max-width: 649px) {
  .technologies {
    padding-bottom: 0;
    padding-top:    32px;
    display:        block;
  }

  .technologies__title h2 {
    width: 280px;
  }

  .technologies__title {
    width: 100%;
  }

  .technologies__elements {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .technologies__element {
    width: 50%;
    margin-bottom: 32px;
  }
}