<!DOCTYPE html>
<html lang="ru">

<head>
  <%= require('html-loader!../head_meta.html') %>

  <title>Дипломная работа Яндекс.Практикум | Аналитика</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.analytic.css %>">
</head>

<body>

<div class="wrapper" data-page="analytic">
  <%= require('html-loader!./views/header.html') %>

  <div class="page">
    <%= require('html-loader!./views/request.html') %>
    <%= require('html-loader!./views/statistics.html') %>
  </div>

</div>

<div class="pusher"></div>

<%= require('html-loader!../footer.html') %>

<script src="<%= htmlWebpackPlugin.files.chunks.analytic.entry %>"></script>
</body>

</html>
