.footer, .pusher {
  height:          -80px;
  display:         flex;
  justify-content: space-between;
  line-height:     80px;
}
.footer ul {
  list-style:      none;
  display:         flex;
  justify-content: space-between;
  margin:          0;
}
.footer ul li {
  float: left;
}
.footer__author p {
  font-size: 16px;
  color:     #B6BCBF;
  margin:    0;
}
.footer__navigation {
  font-size:  18px;
  text-align: center;
  width:      425px;
}
.footer__navigation a {
  text-decoration: none;
  color:           #1A1B22;
}
.footer__links a {
  margin-left: 30px;
}
.footer__links:hover {

}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer ul {
    padding-left: 0;
  }

  .footer__navigation {
    width: 360px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    position:       relative;
    padding: 8px 15px 60px;
  }

  .footer, .footer__navigation, .footer__navigation ul {
    display: block;
  }

  .footer__navigation {
    width:      auto;
    text-align: left;
  }

  .footer__navigation ul {
    padding-left: 0;
  }

  .footer__navigation ul li {
    float:       none;
    height:      48px;
    line-height: 48px;
  }

  .footer__author {
    position: absolute;
    left: 15px;
    bottom: 0;
    line-height: 60px;
  }

  .footer__links {
    display:     inline-block;
    position:    absolute;
    top:         16px;
    right:       16px;
    line-height: 48px;
  }

  .footer__links a {
    margin-left: 25px;
  }
}